<h2><%= @topic.title %></h2>

<%= link_to 'Edit', url(:edit_forum_topic, :forum_id => @forum, :id => @topic), :class => 'edit' %>
<% form_for @topic, :action => url(:forum_topic, :forum_id => @forum, :id => @topic), :method => :delete do %>
  <%= submit_button 'Delete' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
    </tr>
  </thead>
  <tbody>
    <% @topic.posts.each do |post| %>
      <tr>
        <td class="author">
          <%= image_tag post.user.gravatar, :class => 'avatar' %>
          <span class="login"><%= post.user.login %></span>
          <span class="no-of-posts"><%= post.user.posts.size %> Posts</span>
          <%= edit_post_link(@forum, @topic, post) if can_edit?(post) %>
        </td>
        <td>
          <%= post.body_html %>
          <%= tag :p, "Attachments" unless post.attachments.empty? %>
          <% post.attachments.each do |attachment| %>
            <p><%= link_to attachment.title, attachment.path %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= partial :post_form, :with => @post if logged_in? %>
